In [7]:
import pandas as pd
import numpy as np
import re

In [8]:
#Configurar que pandas muestre todas las columnas y todas las filas del dataframe

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
# EDA b√°sico para entender nuestros DATOS

def eda_basico(df):

    print('üå∑Ejemplo de datos del DF:')
    display(df.head(3))
    display(df.tail(3))
    display(df.sample(3))
    print('________________________________________________________________________________________________________')

    print('üåªN√∫mero de Filas:')
    display(df.shape[0])
    print('________________________________________________________________________________________________________')

    print('üå±N√∫mero de Columnas:')
    display(df.shape[1])
    print('________________________________________________________________________________________________________')

    print('üåºInformaci√≥n de la tabla:')
    display(df.info())
    print('________________________________________________________________________________________________________')

    print('üåëNombre de las columnas:')
    display(df.columns)
    print('________________________________________________________________________________________________________')

    print('üçÑDescripci√≥n de los datos num√©ricos:')
    display(df.describe().T)
    print('________________________________________________________________________________________________________')

    print('üåãDescripci√≥n de los datos no-num√©ricos:')
    display(df.describe(include='object').T)
    print('________________________________________________________________________________________________________')

    print('üçÇSaber si hay datos √∫nicos:')
    display(df.nunique())
    print('________________________________________________________________________________________________________')

    print('üêñQue datos son nulos por columnas:')
    display(df.isnull().sum())
    print('________________________________________________________________________________________________________')

    print('üê≤Filas duplicadas:')
    total_duplicados = df.duplicated().sum()
    if total_duplicados > 0:
        print(f'cantidad de duplicados: {total_duplicados}')
        print('Primeros duplicados')
        display(df[df.duplicated()].head(3))
    else:
        print('No hay duplicados')
    print('________________________________________________________________________________________________________')

In [5]:
import pandas as pd
import os

# Revisamos el EDA

In [26]:
print(f'\nüóÇÔ∏è An√°lisis del archivo: "1- mental-illnesses-prevalence.csv"')
try:
    df = pd.read_csv('1- mental-illnesses-prevalence.csv')
    eda_basico(df)
except Exception as e:
    print(f'‚ö†Ô∏è Error al procesar "1- mental-illnesses-prevalence.csv": {e}')

üóÇÔ∏è An√°lisis del archivo: "1- mental-illnesses-prevalence.csv"
üå∑Ejemplo de datos del DF:

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
6417,Zimbabwe,ZWE,2017,0.201639,3.411965,3.188418,0.538589,0.097330
6418,Zimbabwe,ZWE,2018,0.201976,3.406929,3.172111,0.538585,0.097909
6419,Zimbabwe,ZWE,2019,0.202482,3.395476,3.137017,0.538580,0.098295

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
3293,Lithuania,LTU,2013,0.285437,4.047530,4.340520,0.521513,0.159998
1575,Denmark,DNK,2005,0.214586,3.615108,4.835422,0.940877,0.449140
1013,Cambodia,KHM,2013,0.269643,2.973910,4.549023,0.318106,0.076260

________________________________________________________________________________________________________
üåªN√∫mero de Filas:

6420

________________________________________________________________________________________________________
üå±N√∫mero de Columnas:

8

________________________________________________________________________________________________________
üåºInformaci√≥n de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             6420 non-null   object
 1   Code                                                                               6150 non-null   object
 2   Year                                                                               6420 non-null   int64
 3   Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized  6420 non-null   float64
 4   Depressive disorders (share of population) - Sex: Both - Age: Age-standardized     6420 non-null   float64
 5   Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 6   Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 7   Eating disorders (share of population) - Sex: Both - Age: Age-standardized         6420 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 401.4+ KB

None

________________________________________________________________________________________________________
üåëNombre de las columnas:

Index(['Entity', 'Code', 'Year',
       'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Eating disorders (share of population) - Sex: Both - Age: Age-standardized'],
      dtype='object')

________________________________________________________________________________________________________
üçÑDescripci√≥n de los datos num√©ricos:

,count,mean,std,min,25%,50%,75%,max
Year,6420.0,2004.500000,8.656116,1990.000000,1997.000000,2004.500000,2012.000000,2019.000000
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,6420.0,0.266604,0.039383,0.188416,0.242267,0.273477,0.286575,0.462045
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,6420.0,3.767036,0.925286,1.522333,3.080036,3.636772,4.366252,7.645899
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,6420.0,4.101840,1.050543,1.879996,3.425846,3.939547,4.564164,8.624634
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,6420.0,0.636968,0.233391,0.181667,0.520872,0.579331,0.844406,1.506730
Eating disorders (share of population) - Sex: Both - Age: Age-standardized,6420.0,0.195664,0.138380,0.044780,0.096416,0.144150,0.251167,1.031688

________________________________________________________________________________________________________
üåãDescripci√≥n de los datos no-num√©ricos:

       count unique          top freq
Entity  6420    214  Afghanistan   30
Code    6150    205          AFG   30

________________________________________________________________________________________________________
üçÇSaber si hay datos √∫nicos:

Entity                                                                                214
Code                                                                                  205
Year                                                                                   30
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized    6406
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized       6416
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized          6417
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized          6385
Eating disorders (share of population) - Sex: Both - Age: Age-standardized           6417
dtype: int64

________________________________________________________________________________________________________
üêñQue datos son nulos por columnas:

Entity                                                                                 0
Code                                                                                 270
Year                                                                                   0
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized      0
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized         0
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized            0
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized            0
Eating disorders (share of population) - Sex: Both - Age: Age-standardized             0
dtype: int64

________________________________________________________________________________________________________
üê≤Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________

## Eliminamos columna "code" 

Tiene nulos y no nos aporta al estudio ya que ya disponemos de la columna pa√≠ses. No necesitamos su c√≥digo

In [14]:
archivo = '1- mental-illnesses-prevalence.csv'
nuevo_archivo = '1-mental-illnesses-prevalence_sin_code.csv'

print(f'\nüóÇÔ∏è An√°lisis del archivo: {archivo}')
try:
    df = pd.read_csv(archivo)
    
    # Eliminar la columna 'Code' si existe
    if 'Code' in df.columns:
        df = df.drop(columns='Code')
        print("üßπ Columna 'Code' eliminada correctamente.")

except Exception as e:
    print(f"‚ö†Ô∏è Error al procesar {archivo}: {e}")

üóÇÔ∏è An√°lisis del archivo: 1- mental-illnesses-prevalence.csv
üßπ Columna 'Code' eliminada correctamente.

In [15]:
print("üìÅ Archivo: 1-mental-illnesses-prevalence_sin_code.csv")
print("üßæ Columnas:")
for col in df.columns:
    print(f" - {col}")

üìÅ Archivo: 1-mental-illnesses-prevalence_sin_code.csv
üßæ Columnas:
 - Entity
 - Year
 - Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized
 - Depressive disorders (share of population) - Sex: Both - Age: Age-standardized
 - Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized
 - Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized
 - Eating disorders (share of population) - Sex: Both - Age: Age-standardized

In [16]:
# Renombrar columnas
df = df.rename(columns={
    'Entity': 'Pa√≠s',
    'Year': 'A√±o',
    'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized': 'Esquizofrenia',
    'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized': 'Depresi√≥n',
    'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized': 'Ansiedad',
    'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized': 'Trastorno Bipolar',
    'Eating disorders (share of population) - Sex: Both - Age: Age-standardized': 'Des√≥rdenes Alimentarios'
})

## Redondeamos las columnas float a 2 decimales

In [17]:
# Seleccionar las columnas num√©ricas a redondear
columnas_float = ['Esquizofrenia', 'Depresi√≥n', 'Ansiedad', 'Trastorno Bipolar', 'Des√≥rdenes Alimentarios']

# Redondear a 2 decimales
df[columnas_float] = df[columnas_float].round(2)

## Revisamos columna paises

In [18]:
df['Pa√≠s'].unique()

array(['Afghanistan', 'Africa (IHME GBD)', 'Albania', 'Algeria',
       'America (IHME GBD)', 'American Samoa', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Asia (IHME GBD)',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe (IHME GBD)', 'European Union (27)',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [19]:
# Lista de agrupaciones a separar
agrupaciones_list = [
    'Africa (IHME GBD)',
    'America (IHME GBD)',
    'Asia (IHME GBD)',
    'Europe (IHME GBD)',
    'European Union (27)',
    'High-income countries',
    'Low-income countries',
    'Lower-middle-income countries',
    'Upper-middle-income countries',
    'World'
]

# Extraer pa√≠ses: todos los que NO est√°n en agrupaciones_list
paises = df[~df['Pa√≠s'].isin(agrupaciones_list)]

# Extraer continentes (primer grupo)
continentes = df[df['Pa√≠s'].isin([
    'Africa (IHME GBD)',
    'America (IHME GBD)',
    'Asia (IHME GBD)',
    'Europe (IHME GBD)',
    'European Union (27)'
])]

# Extraer agrupaciones econ√≥micas (segundo grupo)
agrupaciones_economicas = df[df['Pa√≠s'].isin([
    'High-income countries',
    'Low-income countries',
    'Lower-middle-income countries',
    'Upper-middle-income countries'
])]

# Extraer fila 'World'
world = df[df['Pa√≠s'] == 'World']

# Guardar archivos CSV
paises.to_csv('datos_paises.csv', index=False)
continentes.to_csv('datos_continentes.csv', index=False)
agrupaciones_economicas.to_csv('datos_agrupaciones_economicas.csv', index=False)
world.to_csv('datos_world.csv', index=False)

## Crear una columna de "Continente" usando asignaci√≥n directa para los pa√≠ses

In [23]:
df_paises = pd.read_csv('datos_paises.csv')

pais_a_continente = {
    # Continentes por pa√≠s
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'American Samoa': 'Oceania',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bermuda': 'North America',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Cape Verde': 'Africa',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Congo': 'Africa',
    'Cook Islands': 'Oceania',
    'Costa Rica': 'North America',
    "Cote d'Ivoire": 'Africa',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Asia',
    'Czechia': 'Europe',
    'Democratic Republic of Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'East Timor': 'Asia',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Greenland': 'North America',
    'Grenada': 'North America',
    'Guam': 'Oceania',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Micronesia (country)': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'Niue': 'Oceania',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Northern Mariana Islands': 'Oceania',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Palestine': 'Asia',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Puerto Rico': 'North America',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'Sao Tome and Principe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Syria': 'Asia',
    'Taiwan': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'Togo': 'Africa',
    'Tokelau': 'Oceania',
    'Tonga': 'Oceania',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceania',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europe',
    'United States': 'North America',
    'United States Virgin Islands': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa',
}

df_paises['Continente'] = df_paises['Pa√≠s'].map(pais_a_continente)

In [24]:
# Guardar el DataFrame con nombres simplificados
df_paises.to_csv('datos_paises.csv', index=False)

In [25]:
# Nombres de archivos CSV
archivos = [
    'datos_paises.csv',
    'datos_continentes.csv',
    'datos_agrupaciones_economicas.csv',
    'datos_world.csv'
]

for archivo in archivos:
    print(f"\n\nüóÇÔ∏è An√°lisis del archivo: {archivo}")
    try:
        df = pd.read_csv(archivo)
        eda_basico(df)
    except Exception as e:
        print(f"‚ö†Ô∏è Error al procesar {archivo}: {e}")

üóÇÔ∏è An√°lisis del archivo: datos_paises.csv
üå∑Ejemplo de datos del DF:

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios,Continente
0,Afghanistan,1990,0.22,5.00,4.71,0.7,0.13,Asia
1,Afghanistan,1991,0.22,4.99,4.70,0.7,0.12,Asia
2,Afghanistan,1992,0.22,4.98,4.68,0.7,0.12,Asia

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios,Continente
6117,Zimbabwe,2017,0.2,3.41,3.19,0.54,0.1,Africa
6118,Zimbabwe,2018,0.2,3.41,3.17,0.54,0.1,Africa
6119,Zimbabwe,2019,0.2,3.40,3.14,0.54,0.1,Africa

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios,Continente
2018,Georgia,1998,0.27,3.25,2.53,0.53,0.10,Asia
3102,Lithuania,2002,0.28,4.34,4.41,0.52,0.13,Europe
2645,Italy,1995,0.30,3.92,5.24,0.87,0.52,Europe

________________________________________________________________________________________________________
üåªN√∫mero de Filas:

6120

________________________________________________________________________________________________________
üå±N√∫mero de Columnas:

8

________________________________________________________________________________________________________
üåºInformaci√≥n de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pa√≠s                     6120 non-null   object
 1   A√±o                      6120 non-null   int64
 2   Esquizofrenia            6120 non-null   float64
 3   Depresi√≥n                6120 non-null   float64
 4   Ansiedad                 6120 non-null   float64
 5   Trastorno Bipolar        6120 non-null   float64
 6   Des√≥rdenes Alimentarios  6120 non-null   float64
 7   Continente               6120 non-null   object
dtypes: float64(5), int64(1), object(2)
memory usage: 382.6+ KB

None

________________________________________________________________________________________________________
üåëNombre de las columnas:

Index(['Pa√≠s', 'A√±o', 'Esquizofrenia', 'Depresi√≥n', 'Ansiedad',
       'Trastorno Bipolar', 'Des√≥rdenes Alimentarios', 'Continente'],
      dtype='object')

________________________________________________________________________________________________________
üçÑDescripci√≥n de los datos num√©ricos:

,count,mean,std,min,25%,50%,75%,max
A√±o,6120.0,2004.500000,8.656149,1990.00,1997.00,2004.50,2012.0000,2019.00
Esquizofrenia,6120.0,0.265824,0.039308,0.19,0.24,0.27,0.2900,0.46
Depresi√≥n,6120.0,3.767415,0.941771,1.52,3.06,3.65,4.3700,7.65
Ansiedad,6120.0,4.100229,1.063060,1.88,3.42,3.94,4.5425,8.62
Trastorno Bipolar,6120.0,0.639175,0.236135,0.18,0.52,0.58,0.8550,1.51
Des√≥rdenes Alimentarios,6120.0,0.195190,0.139377,0.04,0.10,0.14,0.2400,1.03

________________________________________________________________________________________________________
üåãDescripci√≥n de los datos no-num√©ricos:

           count unique          top  freq
Pa√≠s        6120    204  Afghanistan    30
Continente  6120      6       Africa  1620

________________________________________________________________________________________________________
üçÇSaber si hay datos √∫nicos:

Pa√≠s                       204
A√±o                         30
Esquizofrenia               24
Depresi√≥n                  473
Ansiedad                   533
Trastorno Bipolar           79
Des√≥rdenes Alimentarios     85
Continente                   6
dtype: int64

________________________________________________________________________________________________________
üêñQue datos son nulos por columnas:

Pa√≠s                       0
A√±o                        0
Esquizofrenia              0
Depresi√≥n                  0
Ansiedad                   0
Trastorno Bipolar          0
Des√≥rdenes Alimentarios    0
Continente                 0
dtype: int64

________________________________________________________________________________________________________
üê≤Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________


üóÇÔ∏è An√°lisis del archivo: datos_continentes.csv
üå∑Ejemplo de datos del DF:

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
0,Africa (IHME GBD),1990,0.22,4.60,3.70,0.61,0.11
1,Africa (IHME GBD),1991,0.22,4.60,3.70,0.61,0.11
2,Africa (IHME GBD),1992,0.22,4.59,3.69,0.61,0.11

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
147,European Union (27),2017,0.28,3.59,5.20,0.83,0.41
148,European Union (27),2018,0.28,3.60,5.19,0.83,0.41
149,European Union (27),2019,0.28,3.61,5.16,0.83,0.41

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
59,America (IHME GBD),2019,0.33,3.61,5.49,0.85,0.3
42,America (IHME GBD),2002,0.34,3.83,5.92,0.83,0.3
62,Asia (IHME GBD),1992,0.29,3.37,3.34,0.32,0.1

________________________________________________________________________________________________________
üåªN√∫mero de Filas:

150

________________________________________________________________________________________________________
üå±N√∫mero de Columnas:

7

________________________________________________________________________________________________________
üåºInformaci√≥n de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pa√≠s                     150 non-null    object
 1   A√±o                      150 non-null    int64
 2   Esquizofrenia            150 non-null    float64
 3   Depresi√≥n                150 non-null    float64
 4   Ansiedad                 150 non-null    float64
 5   Trastorno Bipolar        150 non-null    float64
 6   Des√≥rdenes Alimentarios  150 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.3+ KB

None

________________________________________________________________________________________________________
üåëNombre de las columnas:

Index(['Pa√≠s', 'A√±o', 'Esquizofrenia', 'Depresi√≥n', 'Ansiedad',
       'Trastorno Bipolar', 'Des√≥rdenes Alimentarios'],
      dtype='object')

________________________________________________________________________________________________________
üçÑDescripci√≥n de los datos num√©ricos:

,count,mean,std,min,25%,50%,75%,max
A√±o,150.0,2004.500000,8.684438,1990.00,1997.00,2004.500,2012.0000,2019.00
Esquizofrenia,150.0,0.281933,0.038490,0.22,0.28,0.280,0.2900,0.35
Depresi√≥n,150.0,3.750667,0.434163,3.15,3.55,3.620,3.7925,4.65
Ansiedad,150.0,4.387000,0.846234,3.18,3.63,4.400,5.0275,5.92
Trastorno Bipolar,150.0,0.663267,0.187002,0.32,0.60,0.730,0.8200,0.85
Des√≥rdenes Alimentarios,150.0,0.238533,0.108184,0.10,0.11,0.285,0.3100,0.41

________________________________________________________________________________________________________
üåãDescripci√≥n de los datos no-num√©ricos:

     count unique                top freq
Pa√≠s   150      5  Africa (IHME GBD)   30

________________________________________________________________________________________________________
üçÇSaber si hay datos √∫nicos:

Pa√≠s                        5
A√±o                        30
Esquizofrenia               7
Depresi√≥n                  59
Ansiedad                   84
Trastorno Bipolar          13
Des√≥rdenes Alimentarios    18
dtype: int64

________________________________________________________________________________________________________
üêñQue datos son nulos por columnas:

Pa√≠s                       0
A√±o                        0
Esquizofrenia              0
Depresi√≥n                  0
Ansiedad                   0
Trastorno Bipolar          0
Des√≥rdenes Alimentarios    0
dtype: int64

________________________________________________________________________________________________________
üê≤Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________


üóÇÔ∏è An√°lisis del archivo: datos_agrupaciones_economicas.csv
üå∑Ejemplo de datos del DF:

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
0,High-income countries,1990,0.33,3.47,4.73,0.73,0.36
1,High-income countries,1991,0.33,3.48,4.72,0.73,0.37
2,High-income countries,1992,0.33,3.49,4.72,0.73,0.37

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
117,Upper-middle-income countries,2017,0.29,3.13,3.94,0.45,0.16
118,Upper-middle-income countries,2018,0.29,3.13,3.94,0.45,0.16
119,Upper-middle-income countries,2019,0.29,3.13,3.93,0.46,0.16

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
38,Low-income countries,1998,0.22,4.75,3.60,0.54,0.08
96,Upper-middle-income countries,1996,0.29,3.28,3.86,0.42,0.12
10,High-income countries,2000,0.33,3.64,5.03,0.73,0.39

________________________________________________________________________________________________________
üåªN√∫mero de Filas:

120

________________________________________________________________________________________________________
üå±N√∫mero de Columnas:

7

________________________________________________________________________________________________________
üåºInformaci√≥n de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pa√≠s                     120 non-null    object
 1   A√±o                      120 non-null    int64
 2   Esquizofrenia            120 non-null    float64
 3   Depresi√≥n                120 non-null    float64
 4   Ansiedad                 120 non-null    float64
 5   Trastorno Bipolar        120 non-null    float64
 6   Des√≥rdenes Alimentarios  120 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 6.7+ KB

None

________________________________________________________________________________________________________
üåëNombre de las columnas:

Index(['Pa√≠s', 'A√±o', 'Esquizofrenia', 'Depresi√≥n', 'Ansiedad',
       'Trastorno Bipolar', 'Des√≥rdenes Alimentarios'],
      dtype='object')

________________________________________________________________________________________________________
üçÑDescripci√≥n de los datos num√©ricos:

,count,mean,std,min,25%,50%,75%,max
A√±o,120.0,2004.500000,8.691733,1990.00,1997.0000,2004.500,2012.0000,2019.00
Esquizofrenia,120.0,0.278000,0.039739,0.22,0.2575,0.285,0.3000,0.33
Depresi√≥n,120.0,3.832583,0.566341,3.09,3.4250,3.635,4.1825,4.76
Ansiedad,120.0,3.906500,0.604604,3.09,3.5325,3.750,4.2300,5.03
Trastorno Bipolar,120.0,0.532667,0.127851,0.41,0.4200,0.500,0.5950,0.74
Des√≥rdenes Alimentarios,120.0,0.178917,0.128716,0.08,0.0900,0.120,0.2100,0.42

________________________________________________________________________________________________________
üåãDescripci√≥n de los datos no-num√©ricos:

     count unique                    top freq
Pa√≠s   120      4  High-income countries   30

________________________________________________________________________________________________________
üçÇSaber si hay datos √∫nicos:

Pa√≠s                        4
A√±o                        30
Esquizofrenia               5
Depresi√≥n                  52
Ansiedad                   70
Trastorno Bipolar          10
Des√≥rdenes Alimentarios    16
dtype: int64

________________________________________________________________________________________________________
üêñQue datos son nulos por columnas:

Pa√≠s                       0
A√±o                        0
Esquizofrenia              0
Depresi√≥n                  0
Ansiedad                   0
Trastorno Bipolar          0
Des√≥rdenes Alimentarios    0
dtype: int64

________________________________________________________________________________________________________
üê≤Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________


üóÇÔ∏è An√°lisis del archivo: datos_world.csv
üå∑Ejemplo de datos del DF:

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
0,World,1990,0.29,3.49,3.79,0.49,0.15
1,World,1991,0.29,3.52,3.79,0.49,0.15
2,World,1992,0.29,3.55,3.78,0.49,0.15

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
27,World,2017,0.29,3.43,3.77,0.49,0.17
28,World,2018,0.29,3.44,3.78,0.49,0.17
29,World,2019,0.29,3.44,3.78,0.49,0.17

,Pa√≠s,A√±o,Esquizofrenia,Depresi√≥n,Ansiedad,Trastorno Bipolar,Des√≥rdenes Alimentarios
6,World,1996,0.29,3.60,3.77,0.49,0.15
16,World,2006,0.29,3.57,3.78,0.49,0.16
28,World,2018,0.29,3.44,3.78,0.49,0.17

________________________________________________________________________________________________________
üåªN√∫mero de Filas:

30

________________________________________________________________________________________________________
üå±N√∫mero de Columnas:

7

________________________________________________________________________________________________________
üåºInformaci√≥n de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pa√≠s                     30 non-null     object
 1   A√±o                      30 non-null     int64
 2   Esquizofrenia            30 non-null     float64
 3   Depresi√≥n                30 non-null     float64
 4   Ansiedad                 30 non-null     float64
 5   Trastorno Bipolar        30 non-null     float64
 6   Des√≥rdenes Alimentarios  30 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.8+ KB

None

________________________________________________________________________________________________________
üåëNombre de las columnas:

Index(['Pa√≠s', 'A√±o', 'Esquizofrenia', 'Depresi√≥n', 'Ansiedad',
       'Trastorno Bipolar', 'Des√≥rdenes Alimentarios'],
      dtype='object')

________________________________________________________________________________________________________
üçÑDescripci√≥n de los datos num√©ricos:

,count,mean,std,min,25%,50%,75%,max
A√±o,30.0,2004.500000,8.803408e+00,1990.00,1997.25,2004.500,2011.7500,2019.00
Esquizofrenia,30.0,0.290000,5.646013e-17,0.29,0.29,0.290,0.2900,0.29
Depresi√≥n,30.0,3.512000,7.383112e-02,3.41,3.43,3.535,3.5800,3.60
Ansiedad,30.0,3.790000,2.639227e-02,3.75,3.77,3.785,3.8075,3.85
Trastorno Bipolar,30.0,0.490000,1.693804e-16,0.49,0.49,0.490,0.4900,0.49
Des√≥rdenes Alimentarios,30.0,0.157333,8.276820e-03,0.15,0.15,0.155,0.1600,0.17

________________________________________________________________________________________________________
üåãDescripci√≥n de los datos no-num√©ricos:

     count unique    top freq
Pa√≠s    30      1  World   30

________________________________________________________________________________________________________
üçÇSaber si hay datos √∫nicos:

Pa√≠s                        1
A√±o                        30
Esquizofrenia               1
Depresi√≥n                  12
Ansiedad                   10
Trastorno Bipolar           1
Des√≥rdenes Alimentarios     3
dtype: int64

________________________________________________________________________________________________________
üêñQue datos son nulos por columnas:

Pa√≠s                       0
A√±o                        0
Esquizofrenia              0
Depresi√≥n                  0
Ansiedad                   0
Trastorno Bipolar          0
Des√≥rdenes Alimentarios    0
dtype: int64

________________________________________________________________________________________________________
üê≤Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________